.event-card {
    margin-bottom: 40px;
    color: aliceblue;
}

.cover-home {
    position: relative;
    height: 300px;   /* 写真の高さ */
    overflow: hidden;
}

.slider {
    position: absolute;
    inset: 0;
    overflow: hidden;
    z-index: -1;     /* 背景にする */
}

.slides {
    display: flex;
    height: 100%;
    transition: transform 0.4s ease;
}

.slide {
    min-width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
