@charset "UTF-8";
.main-nav a {
    display: block;
    padding: 0.5rem 0.8rem;
    border-radius: 6px;
    transition: all 0.3s ease;
}
.main-nav {
    display: flex;
    gap: 2rem;
}

/* ハンバーガー */
.menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}